@import "/styles/theme.css";

body {
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

h1:first-child {
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFF;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  position: sticky;
  top: 0;
}

#not-found {
  text-align: center;
}

.not {
  color: #F13B37;
  display: inline-block;
}

.retry button {
  -webkit-appearance: none;
  padding: 20px;
  height: 120px;
  width: 120px;
  text-align: center;
  color: #333;
  font-size: 60px;
  font-weight: bold;
  background-color: #E2E2E2;
  border-radius: 60px;
  margin-top: 20px;
  opacity: .2;
  transition: opacity 600ms;
  cursor: pointer;
}

.retry button:active {
  outline: none !important;
}

.retry button:focus {
  outline: none !important;
}

.retry button:hover {
  opacity: 1;
}

.rows:empty:after {
  display: block;
  background-color: #fafafa;
  height: 46px;
  line-height: 46px;
  content: "No transactions";
  color: #333;
  padding-left: 20px;
  border-bottom: 1px dotted #a3a3a3;
}
