{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": ["version-inline"],
  "env": {
    "test": {
      "presets": [
        ["es2015"]
      ],
      "plugins": ["istanbul"]
    }
  }
}
