{
  "env": {
    "production": {
      "presets": [
        ["es2015", { "modules": false }]
      ],
      "plugins": ["version-inline"]
    },
    "test": {
      "presets": ["es2015"],
      "plugins": [
        "version-inline",
        ["istanbul", { "useInlineSourceMaps": false }]
      ],
      "retainLines": true
    }
  }
}
