@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,bold&display=swap';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

html, body {
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #F3F3F3 0%, #FCFDF0 calc(50% - 650px), #F3F3F3 50%, #F3F3F3 100%);
  touch-action: manipulation;
}

body {
  overflow: auto;
  min-width: 300px;
}

blockquote {
  color: #808080;
  font-size: 16px;
  margin-left: 30px;
}

img {
  max-width: 100%;
}

code {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  border-radius: 4px;
  color: #4e4e4e;
  padding: 5px;
  padding-left: 6px !important;
  font-size: 14px;
  background-color: #EDEDED;
  position: relative;
  top: -1px;
}

.hljs {
  /*background: #333333;*/
  background: linear-gradient(#024161, #122F3E);
  color: #FFF2E7;
}

pre code {
  margin-right: 1px;
  background-color: #022f46;
  line-height: 20px;
  padding: 15px !important;
}

layer#navigation {
  display: flex;
  background-color: rgba(252, 253, 240, 1);
  padding: 0 20px;
  padding-right: 0;
  width: 240px;
  min-width: 240px;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: opacity linear 280ms;
  scrollbar-width: thin;
  scrollbar-color: #CACACA #e8e8e8;
}

layer#navigation::-webkit-scrollbar {
  width: 2px;
}

layer#navigation::-webkit-scrollbar-track {
  background: #e8e8e8;
}

layer#navigation::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #CACACA;
}

layer#navigation p.social {
  padding-right: 5px;
  padding-top: 36px;
  margin-bottom: 4px;
  margin-top: 23px;
  text-align: right;
  font-size: 22px;
}

layer#navigation p.social a {
  color: #A0A0A0;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer !important;
}

layer#navigation p.social a:hover {
  color: #2e6698;
}

layer#navigation a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
layer#navigation a:hover {
  color: #2E6698;
}
layer#navigation li:not(.header):before {
  opacity: 0;
  position: relative;
  left: -10px;
  content: '»';
  padding-right: 0px;
  transition: all cubic-bezier(.17,.67,.83,.67) 140ms;
}
layer#navigation ul a.target li:not(.header):before,
layer#navigation ul li:not(.header):hover:before {
  opacity: 1;
  left: 0;
  padding-right: 20px;
}
layer#navigation a[href*='#'] li {
  text-align: right;
  padding-right: 15px;
}

layer#navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
}

layer#navigation li.header h4 {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 3px;
  text-align: right;
  padding-right: 15px;
}

layer#main {
  background-color: #FFF;
  max-width: 960px;
  overflow-y: scroll;
  line-height: 30px;
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
}

layer#main header {
  padding: 0 40px;
  box-sizing: border-box;
}

layer#main section#content {
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

layer#main section#content a {
  color: #2e6698;
  transition: all cubic-bezier(.17,.67,.83,.67) 140ms;
}

layer#main section#content a:hover {
  color: #dd4b56;
}

layer#main header p {
  margin: 0;
}

layer#main header p:last-child {
  font-size: 18px;
  font-weight: normal;
}

layer#main div#install + ul {
  list-style: none;
  margin-left: 0;
}

layer#main p.name {
    display: inline-block;
}

layer#main h1 {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 40px;
  color: #333333;
}

layer#main h2 {
  color: #2E94BE;
  font-size: 24px;
  margin-top: 40px;
}

layer#main h1 a,
layer#main h2 a {
  text-decoration: none;
}

layer#main section#content h1 {
  padding-top: 0;
}

layer#main section#content h3 a {
  color: #656565;
  font-size: 18px;
  text-decoration: none;
}

layer#main section#content h3 a:hover {
  color: #DD4B56;
}

layer#main strong {
  color: #0A6990;
}

layer#main sub {
  padding-left: 10px;
  vertical-align: bottom;
  color: #CCC;
  font-size: 17px;
  position: relative;
  top: 3px;
}

layer#main header h1 {
  font-weight: bold;
  font-size: 26px;
  color: #676767;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}


layer#main hr {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 40px;
}

layer#main header h1 img {
  margin-right: 20px;
}

layer#main ul {
  padding-left: 0;
  font-size: 16px;
  margin-left: 20px;
}

body.home layer#main ul {
  margin-left: 0;
  list-style: inside;
}

body.home #content {
  margin-bottom: 20px;
}

layer#main table li:not(:first-child) {
  padding-top: 10px;
}

layer#main ul .list-icon {
  padding-left: 0;
  width: 32px;
  color: #024161;
  font-size: 20px;
  line-height: 22px;
}

layer#main ul.methods {
  margin-left: 20px;
}

layer#main footer {
  background-color: #38ab70;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

layer#main footer a {
  cursor: pointer;
  color: #FFF;
}

layer#main footer a:hover {
  color: #FCFDF0;
}

layer#main table {
  background-color: #FBFBFB;
  border: 1px solid #F0F0F0;
  font-size: 14px;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.05);
  margin: 16px 0;
  width: 100%;
}

table {
  border-spacing: 0;
}

table thead {
  font-size: 18px;
}

table th,td {
  border: 1px dotted #C3C3C3;
}

table th {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-right: 1px solid #ececec;
  background: linear-gradient(#024161, #122F3E);
  color: #FFF2E7;
  padding: 10px;
}

table td {
  padding: 10px;
  background-color: #FFF;
  min-width: 144px;
  border: 1px solid #F0F0F0;
  line-height: 26px;
}

#edit-on-github {
  text-align: center;
  color: #333;
  text-decoration: none;
  width: auto;
  display: block;
  margin: 40px;
  background: linear-gradient(to bottom, #FFF, #FFF);
  box-sizing: border-box;
  font-weight: bold;
  transition: background cubic-bezier(.17,.67,.83,.67) 140ms;
  padding: 12px;
}

#edit-on-github:hover {
  color: #FFF;
  background: linear-gradient(to bottom, #38ab70, #397db9);
  border-radius: 4px;
}

h2 a.github,
h1 a.github {
  margin-left: 15px;
  font-size: 20px;
  position: relative;
  top: -2px;
}

h2 a.github:hover,
h1 a.github:hover {
  font-weight: bold;
}

.open-menu {
  display: none;
}

#promises-keyframe {
  width: auto;
  height: 300px;
  border-radius: 7px;
  border: 3px solid lightblue;
  overflow: hidden;
  position: relative;
}
#promises-keyframe > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 280px;
}

/* Tablet */
@media only screen and (max-width : 760px) {
  html, body {
    background-color: #FFF;
    background: #FFF;
    position: relative;
    overflow: visible;
    width: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    max-height: 100vh;
    flex-direction: column;
    display: block;
  }

  body.open {
    background: linear-gradient(to right, #333 248px, #F3F3F3 248px, #F3F3F3 100%);
    user-select: none;
    overflow: hidden;
  }

  nav {
    display: block;
    right: auto;
  }

  center {
    text-align: left;
  }

  layer#navigation {
    will-change: transform;
    width: 200px;
    height: 100%;
    transform: translate3d(-300px, 0, 0);
    position: fixed;
    transition: all cubic-bezier(.17,.67,.83,.67) 140ms;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  body.open layer#navigation {
    background-color: rgba(252, 253, 240, 0.9);
    transition: transform cubic-bezier(.17,.67,.83,.67) 140ms;
    transform: translate3d(0, 0, 0);
    padding: 0 18px;
    opacity: 1;
  }

  layer#main hr:first-child {
    margin: 20px;
  }

  layer#main sub {
    display: block;
    left: -7px;
    top: 0;
    font-size: 14px;
  }

  layer#navigation p.social {
    padding-top: 16px;
  }

  layer#navigation a[href*='#'] li {
    text-align: right;
    padding-right: 15px;
    font-size: 16px;
    line-height: 36px;
  }

  layer#main {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 18px;
    overflow-y: visible;
  }

  layer#main header p:last-child {
    display: none;
  }

  layer#main header {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 0;
    display: inline-block;
    max-width: calc(100% - 55px);
  }

  layer#main header h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    flex-direction: row;
    align-items: flex-start;
  }

  layer#main header h1 a {
    margin-bottom: 0;
  }

  layer#navigation li:not(.header):before {
    display: none;
  }

  layer#main section#content {
    padding-top: 0 !important;
  }

  body.open layer#main header,
  body.open layer#main section#content {
    width: 100%;
    opacity: 0.2;
  }

  layer#main section#content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  body.open .open-menu {
    opacity: 0;
  }

  body.open layer#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
    padding-left: 0;
    padding-bottom: 40px;
  }

  layer#main strong {
    margin-top: 10px;
  }

  .open-menu {
    display: inline-block;
    color: #333;
    top: -5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100;
    height: 29px;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    left: 0;
    position: relative;
    font-size: 33px;
    width: 0px;
  }

  .open-menu.hide {
    display: none !important;
  }

  .open-menu:focus {
    outline: 0 !important;
  }

  /*
	table, thead, tbody, th, td, tr {
		display: block;
	}
  */

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  .hero {
    min-height: 200px;
  }

  layer#main footer {
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 0;
    height: inherit;
    flex-direction: column;
  }

  layer#main footer > span {
    opacity: 0;
  }

  p.social {
    text-align: left;
    padding-left: 5px;
  }
}

/* When printing */
@media print {
  html, body {
    max-height: inherit !important;
    overflow: visible !important;
  }

  code {
    background: #FFF !important;
    color: #000 !important;
    border: 1px solid #000;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  layer#main header {
    padding-left: 0 !important;
  }

  layer#main section#content {
    padding: 0 !important;
    overflow: visible !important;
  }

  layer#navigation {
    display: none;
  }

  #edit-on-github {
    display: none !important;
  }

  footer {
    display: none !important;
  }
}
