@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,bold';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

html, body {
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #333 50%, #F3F3F3 50%, #F3F3F3 100%);
  touch-action: manipulation;
}

body {
  overflow: auto;
  min-width: 300px;
}

code {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  border-radius: 5px;
  color: #4e4e4e;
  padding: 5px;
  padding-left: 6px !important;
  font-size: 14px;
  background-color: #e8e8e8;
  position: relative;
  top: -1px;
}

pre code {
  margin-right: 1px;
  background-color: #222;
  line-height: 20px;
  padding: 15px !important;
}

layer#navigation {
  display: flex;
  background-color: #333333;
  padding: 0 20px;
  width: 240px;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

layer#navigation p.social {
  padding-left: 12px;
  padding-top: 36px;
  margin-bottom: 0;
  margin-top: 30px;
}

layer#navigation p.social a {
  color: #A0A0A0;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

layer#navigation p.social a:hover {
  color: #FFF;
}

layer#navigation a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
layer#navigation a:hover {
  color: #CCC;
}
layer#navigation li:not(.header):before {
  opacity: 0;
  position: relative;
  left: -10px;
  content: '»';
  padding-right: 0px;
  transition: all cubic-bezier(.17,.67,.83,.67) 140ms;
}
layer#navigation ul a.target li:not(.header):before,
layer#navigation ul li:not(.header):hover:before {
  opacity: 1;
  left: 0;
  padding-right: 5px;
}
layer#navigation a[href*='#'] li {
  padding-left: 5px;
}

layer#navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
  width: 200px;
}

layer#navigation li.header h4 {
  border-bottom: 1px solid #444;
  padding-bottom: 3px;
}

layer#main {
  background-color: #FFF;
  max-width: 960px;
  overflow-y: scroll;
  line-height: 30px;
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
}

layer#main header {
  padding: 40px;
  padding-top: 0;
  box-sizing: border-box;
}

layer#main section#content {
  padding: 40px;
  padding-top: 20px;
}

layer#main section#content a {
  color: #2e6698;
  transition: all cubic-bezier(.17,.67,.83,.67) 140ms;
}

layer#main section#content a:hover {
  color: #dd4b56;
}

layer#main header {
  border-bottom: 1px solid #F1F1F1;
}

layer#main header p {
  margin: 0;
}

layer#main header p:last-child {
  font-size: 18px;
  font-weight: normal;
}

layer#main p.name {
    display: inline-block;
}

layer#main h1 {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 40px;
  color: #333333;
}

layer#main h2 {
  color: #2E94BE;
  font-size: 24px;
  margin-top: 40px;
}

layer#main h2 span {
  text-decoration: underline;
}

layer#main h3 {
  color: #0A6990;
  font-size: 20px;
}

layer#main strong {
  color: #0A6990;
}

layer#main sub {
  padding-left: 10px;
  vertical-align: bottom;
  color: #CCC;
  font-size: 17px;
  position: relative;
  top: 3px;
}

layer#main header h1 {
  font-weight: bold;
  font-size: 26px;
  color: #676767;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}


layer#main hr {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 40px;
}

layer#main header h1 img {
  margin-right: 20px;
}

layer#main ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
}

layer#main ul .list-icon {
  padding-left: 0;
  margin-right: 10px;
  color: #024161;
  font-size: 20px;
  line-height: 22px;
}

layer#main ul.methods {
  margin-left: 20px;
}

layer#main footer {
  background-color: #f6ffec;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

layer#main footer a {
  cursor: pointer;
  color: #333;
}

layer#main footer a:hover {
  color: red;
}

layer#main table {
  background-color: #FBFBFB;
  border: 1px solid #F0F0F0;
  font-size: 14px;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.05);
  margin: 16px 0;
}

table {
  border-spacing: 0;
}

table thead {
  font-size: 18px;
}

table th,td {
  border: 1px dotted #C3C3C3;
}

table th {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-right: 1px solid #ececec;
}

table th {
  background-color: gainsboro;
  color: #333;
  padding: 10px;
}

table td {
  padding: 10px;
  background-color: #FFF;
  min-width: 144px;
  border: 1px solid #F0F0F0;
}

.open-menu {
  display: none;
}

/* Tablet */
@media only screen and (max-width : 1027px) {
  html, body {
    background-color: #FFF;
    position: relative;
    overflow: visible;
    width: 100%;
    margin-left: 0px;
    overflow-y: hidden;
  }

  body.open {
    background: linear-gradient(to right, #333 248px, #F3F3F3 248px, #F3F3F3 100%);
  }

  nav {
    display: block;
    right: auto;
  }

  center {
    text-align: left;
  }

  layer#navigation {
    width: 0%;
    max-width: 100%;
    height: 42px;
    will-change: transform;
    transform: translate3d(-300px, 0, 0);
    position: absolute;
  }

  body.open layer#navigation {
    transform: translate3d(0, 0, 0);
    width: 240px;
    height: 100%;
    padding-right: 80px;
    position: static;
  }

  layer#main {
    width: 100%;
    margin: 0 !important;
    padding-left: 0px !important;
    padding-right: 15px !important;
    padding-top: 18px;
  }

  layer#main header h1 img {
    width: 76px;
  }

  layer#main header p:last-child {
    display: none;
  }

  layer#main header {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  layer#main header h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    flex-direction: row;
    align-items: flex-start;
  }

  layer#main header h1 a {
    margin-bottom: 20px;
  }

  body.open layer#main section#content {
    width: 100%;
  }

  layer#main section#content {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  body.open .open-menu {
    display: none;
    color: #646567;
  }

  .open-menu {
    display: block;
    position: sticky;
    color: #FFF;
    top: 22px;
    padding: 0;
    cursor: pointer;
    z-index: 100;
    height: 42px;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    height: 100%;
    padding-top: 20px;
    width: 40px;
    left: 0;
    padding-left: 20px;
  }

  .open-menu.hide {
    display: none !important;
  }

  .open-menu:focus {
    outline: 0 !important;
  }

	table, thead, tbody, th, td, tr {
		display: block;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  .hero {
    min-height: 200px;
  }

  footer {
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    font-size: 16px;
    line-height: 22px;
    padding-left: 12px;
  }

  p.social {
    text-align: left;
    padding-left: 5px;
  }
}

/* Phone */
@media only screen and (max-width : 410px) {
  layer#main header h1 a {
    padding-top: 10px;
  }

  layer#main sub {
    padding-left: 2px;
    top: -3px;
  }
}
