/*
@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,bold';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

* {
  box-sizing: border-box;
}

pre, code {
  font-size: 18px;
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

code {
  background-color: #F0F0F0;
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  font-weight: 300;
  color: #63809A;
  font-size: 14px;
  margin-right: 1px;
}

a.view-on-github {
  margin-left: 10px !important;
}

a.code {
  border-bottom: 0 !important;
}
a.code code {
  transition: all linear 240ms;
}
a.code:hover code {
  background-color: #D5F3ED;
}

p.push-left {
  position: relative;
  left: -5px;
  padding: 8px;
  background: #FBFBFB;
}

a.methods, a.view-on-github {
  padding-left: 0 !important;
  text-align: left;
  margin-left: 0;
  left: -4px;
  position: relative;
  border-bottom: 2px solid transparent !important;
}
a.methods:hover, a.view-on-github:hover {
  border-bottom: 2px solid #E2E2E2 !important;
}

ul.methods strong.args {
  font-size: 16px !important;
  color: #308486;
  padding-left: 3px;
  font-weight: 400;
  position: relative;
  top: -2px;
}
strong.args {
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.hero {
  width: 100%;
  min-height: 400px;
  background: linear-gradient(20deg, rgb(112, 219, 184),  #f7ffb5);
  margin-top: 20px;
  position: relative;
}

ul.methods {
  margin-bottom: 20px !important;
}

ul.methods + hr {
  margin-bottom: 0 !important;
}

ul.methods li a {
  border-bottom-width: 0 !important; 
  color: #5F5F5F !important;
  cursor: pointer;
}

ul.methods li a:hover {
  color: #000 !important;
}

ul.methods li:hover {
  color: #676767 !important;
}

.header:focus,
.header:focus {
  outline: none !important;
}

.header h4 {
  margin-bottom: 10px !important;
}

section#content h3 {
  padding-top: 30px !important;
  margin-top: 8px !important;
  margin-bottom: 10px !important;
  display: block;
  font-size: 34px;
  color: #626262 !important;
}

section#content h4 {
  color: #626262 !important;
  padding-top: 25px !important;
  margin-top: 0px !important;
}

section#content h4.api-method {
  font-size: 26px;
}

ul, .gap {
  margin-bottom: 40px;
  margin-left: 0;
  padding-left: 0;
  color: #CCC;
}

.details ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

nav li.header {
  margin-top: 15px;
}

.details ul li {
  color: #626262;
  list-style: none;
  font-size: 14px;
}

{
  font-size: 16px;
}

.strong {
  font-weight: bold;
}

select {
  background: transparent;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  border: 1px solid transparent;
  border-left: 2px solid #CCC;
  margin-left: 10px;
  outline: none;
  transition: background-color linear 140ms;
  cursor: pointer;
}

select:hover {
  border: 1px solid #E2E2E2;
  border-left: 2px solid #CCC;
  background-color: #ececec;
}

h5 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  font-size: 16px;
}
table.details {
  background-color: #FBFBFB;
  border: 1px solid #F0F0F0;
  font-size: 14px;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, 0.05);
  margin: 16px 0;
}
table.details th {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-right: 1px solid #ececec;
  height: 42px !important;
}
table.details td {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  min-width: 144px;
  border: 1px solid #F0F0F0;
  height: 62px !important;
}

.comments .comment h3 {
  margin-bottom: 10px;
}

.comments .comment .description {
  background: #FBFBFB;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
}
.comments .comment .description p {
  margin: 10px;
}

select:after {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  content: 'V';
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: #F3F3F3;
  width: 100%;
  display: flex;
  flex-direction: row;
}

section#content {
  background-color: #FFF;
  padding: 15px;
  width: calc(100% - 360px);
  max-width: 960px;
  line-height: 36px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  color: #676767;
  display: flex;
  flex-direction: column;
  flex: 1;
}

section#content header {
  font-style: normal;
  font-weight: 300;
  color: #A0A0A0;
  display: flex;
  align-items: center;
  font-size: 22px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #F1F1F1;
}

section#content header h1 {
  font-weight: bold;
  font-size: 26px;
  color: #676767;
  margin-right: 15px;
}

a.gitter {
  width: 40px;
}
svg.gitter {
  position: relative;
  top: 5px;
  width: 17px;
  margin: 0 10px;
}

p.social {
  margin: 0;
  background-color: rgba(113, 219, 184, 0.2) !important;
  text-align: center;
}

p.social a {
  margin-right: 0px;
  border-bottom: 3px solid transparent !important;
  position: relative;
  top: -5px;
  color: #3AAF7E !important;
  fill: #3AAF7E !important;
  padding: 20px;
  cursor: pointer;
}
p.social i {
  width: 40px;
  text-align: center;
}

p.social a.github i.fa-github {
  font-size: 23px !important;
}

p.social a.github:hover {
  color: #000 !important;
  border-bottom: 3px solid #000 !important;
}
p.social a.twitter:hover {
  color: #44C2F9 !important;
  border-bottom: 3px solid #44C2F9 !important;
}
p.social a.stackoverflow:hover {
  color: #FFAE00 !important;
  border-bottom: 3px solid #FFAE00 !important;
}
p.social a.reddit:hover {
  color: #FF4500 !important;
  border-bottom: 3px solid #FF4500 !important;
}
p.social a.gitter:hover {
  fill: #83C510 !important;
  border-bottom: 3px solid #83C510 !important;
}

p.social [class*=hint-]:after {
  font-size: 12px;
}

section#content strong {
  font-size: 18px;
}

section#content ul {
  font-size: 18px;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
section#content ul.methods {
  margin-left: 20px;
}

section#content hr {
  border: none;
  border-bottom: 1px solid #F0F0F0;
}

section#content h1,
section#content h2,
section#content h3,
section#content h4,
section#content h5 {
  margin: 0;
  color: #A0A0A0;
}
section#content h1 {
  display: inline-block;
  margin: 20px 0;
  color: #5a5a5a;
}
section#content h2 {
  font-size: 26px;
}
section#content h3 {
  font-size: 24px;
}

section#content h5 {
  margin-top: 10px;
  padding-top: 15px;
}

section#content a:not(.header) {
  text-decoration: none;
  transition: all linear 240ms;
  color: #333;
  padding: 4px;
  align-self: center;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
}
section#content a:not(.header):hover {
  opacity: 1;
  border-bottom: 2px solid #EEE;
}

section#content a.no-underline {
  border-bottom: none !important;
}

section#content a.header {
  text-decoration: none;
  position: relative;
  color: #676767;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
section#content a.header:hover {
  border-bottom: 2px solid #626262;
}

section#content a.header:hover h3 {
  position: relative;
}

section#content a.header:hover:before {
  content: '# ';
  color: #A0A0A0;
  position: absolute;
  left: -17px;
  top: calc(50% - 4px) !important;
}

center {
  font-weight: 300;
  margin-top: 10px;
}

center a { color: #A0A0A0; }
center a:hover {
  border-bottom: 1px solid #A0A0A0;
}
center a:hover:before {
  content: '' !important;
}

nav {
  background-color: #333;
  color: #FFF;
  width: 300px;
  padding: 14px;
  padding-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

nav::-webkit-scrollbar { width: 0 !important }

nav a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  line-height: 26px;
  padding-left: 10px;
  text-align: left;
}

nav li.sub ul {
  padding-left: 20px;
}

nav > ul {
  right: 0;
  width: 240px;
  margin-top: 100px;
  margin-left: auto;
}
nav ul li.header:first-child h4 {
  margin-top: 0;
}
nav ul li.header h4 {
  border-bottom: 1px solid #444;
  padding-bottom: 3px;
}
nav ul a.target li:not(.header),
nav ul li:not(.header):hover {
  color: #CCC;
}
nav ul li:not(.header):before {
  opacity: 0;
  position: relative;
  left: -10px;
  content: '»';
  padding-right: 0px;
  transition: all linear 240ms;
}
nav ul a.target li:not(.header):before,
nav ul li:not(.header):hover:before {
  opacity: 1;
  left: 0;
  padding-right: 5px;
}

table {
  border-spacing: 0;
}

table thead {
  font-size: 18px;
}

table th,td {
  border: 1px dotted #C3C3C3;
}

layer {
  display: flex;
  background-color: #333;
  width: 360px;
  position: relative;
}

.open-menu {
  display: none;
}

.open-menu svg {
  width: 40px;
}

@media only screen and (max-width : 960px) {
  html, body {
    background-color: #FFF !important;
    overflow-x: hidden !important;
  }

  .nav-toggle { display: inline-block; }

  nav {
    display: block;
    right: auto;
  }

  center {
    text-align: left;
  }

  layer {
    width: 100%;
    max-width: 100%;
    height: 42px;
    will-change: transform;
    transform: translate3d(-300px, 0, 0);
    text-align: center;
    transition: transform cubic-bezier(.17,.67,.83,.67) 240ms;
    background-color: transparent;
  }

  body.open layer {
    transform: translate3d(0, 0, 0);
    height: 100%;
    transition: transform cubic-bezier(.17,.67,.83,.67) 240ms;
  }

  section#content {
    max-width: 100% !important;
    width: 100%;
    margin: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0px;
  }

  section#content header {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  .open-menu {
    display: block;
    position: absolute;
    color: #626262;
    top: 0;
    left: 300px;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    background: #F0F0F0;
    bottom: 0;
    height: 42px;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    right: 0;
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding-left: 15px;
  }

  .open-menu.hide {
    display: none !important;
  }

  .open-menu:focus {
    outline: 0 !important;
  }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

  .hero {
    min-height: 200px;
  }

  footer {
    transform: translate3d(0, 0, 0);
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }

  p.social {
    text-align: left;
    padding-left: 5px;
  }
}

.hljs-string .hljs-subst {
  color: #d405a7;
}

svg.transactions {
  width: 720px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 0.5em;
  background: #F0F0F0;
}

footer {
  background-color: #d8f7b6;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  cursor: pointer;
  color: #333;
}

footer a:hover {
  color: red;
}

.video-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 10px;
}

.video-container iframe {
  width: calc(100% - 20px);
  height: calc(100% - 45px);
  border-radius: 5px;
}

.hljs {
  padding-left: 14px;
  line-height: 22px;
}

.edit-github {
  align-self: flex-end;
}
*/
